* {
	box-sizing: border-box;
	transition: all 0.1s ease-in;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica, sans-serif;
}

a {
	color: white;
}

h5{
	color: #004990;
}
div {
	display: block;
}

.fixedHeader {
	display: block;
	margin: 0 0 0 0;
	padding: 0;
	background: #004990;
}

.animateHeader{
	display: block;
	margin: 0 0 0 0;
	padding: 0;
	background: #f0f0f0;
	height: 65px;
}


.navbar-left{
	font-size: 13px;
	font-weight: bold;

}

.navbar .nav-link{
	padding: 0;
}
.container {
	margin-right: auto;
    margin-left: auto;
    width: 980px;
    height: 40px;
}

.ricerca{
	width:350px;
	margin-top: 6px;
	padding-left: 15px;
	margin-bottom: -33px;
}

.inputSearch{
	height: 28px;
	font-size: 13px;
}

.ico-cerca img{
	position: relative;
    top: -28px;
    left: 309px
}

.navbar-right{
	font-size: 13px;
	float: right;
	font-weight: normal;
}

.navbar-right .ico_carrello{
	background: url(https://img.tim.it/img/ico_carrello.png) 0 7px no-repeat rgba(0,0,0,0);
    padding-left: 30px;
    margin-right: 25px;
}


.navbar-right .ico_mail{
	background: url(https://img.tim.it/img/ico_mail.png) 0 7px no-repeat rgba(0,0,0,0);
    padding-left: 30px;
    margin-right: 5px;
}
.navbar-left .privati {
	color: #004990;
    background-color: #f0f0f0;
    height: 40px;
}

.navbar-left .impresa{
    background-color: #005ca4;
	height: 40px;
}

.logo-tim{
	width: 103px;
    height: 40px;
    display: inline-block;
    margin: 15px 0px 5px;
}

.link-sito{
	float:right;
	height: 65px;
}

.link-sito .nav-link{
	color: #004990;
	background: url(https://img.tim.it/img/ico_freccia_dx.png) no-repeat 90% 50% rgba(0,0,0,0);
	display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 22.5px 30px 20px 15px;
    color: #004990;
    text-transform: uppercase;
    height: 65px;
}


.link-sito .nav-link:hover{
	background: url(https://img.tim.it/img/ico_freccia_bottom.png) no-repeat 90% 50%;
	background-color: #fff;
    border-bottom: none;
    border-top: none;
    z-index: 101;
    height: 65px;
}


.link-sito .nav-item .nav-link:active{
	background-color: #fff;
    border-bottom: none;
    border-top: none;
    z-index: 101;
    height: 65px;
}

.cont_menu{
	background-color: #FFF;
    margin-top: -1px;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99;
    padding-bottom: 25px;
    min-height: 300px;

}
.cont_menu h5 {
    font-weight: bold;
    margin: 30px 0 15px 0;
    font-size: 15px;
}
.cont_menu a h5:hover {
    color: #0078c1;
}
.cont_menu a {
    padding: 0px 0px 10px 0px;
    display: block;
}
.cont_menu .col-sm-2 {
    width: 18.5%;
}
.cont-banner {
    padding-left: 0;
    margin:0px;
}
.cont-prodotti .col-sm-9 {
    width: 74%;
    }
.cont-prodotti .col-xs-2 {
    width: 20%;
    text-align: center;
    margin-top: 30px;
}
 .cont-prodotti {
 	 font-size: 13px;
 	 float: left;
 }

.prodotti:hover .cont_menu{
	display: block;
}
.lista-item a {
	color: #004990;;
	list-style: none;
	text-decoration: none;
	padding-top: 5px;
}

.lista-item {
	margin-top: 30px;
    margin-left: 40px;
}

.offerte:hover .cont_menu{
	display: block;
}


.link-sito .MyTim .mytim {
	background: url(https://img.tim.it/img/ico_mytim_link.png) no-repeat 90% 50% rgba(0,0,0,0);
	text-transform: none;
}
.nobordo{
    border:0
}